.grid-container{
    grid-template-columns: repeat(6,250px);
    grid-template-rows: repeat(4,200px);

}
#one{
     grid-column-start:1; 
     grid-column-end:3; 





     grid-row-start:3;  
      grid-row-end:4; 
}