.grid-container{
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas:
    "header header header header header header"
    "sidebar main main content1 content1 content3"
    "sidebar main main content2 content2 content3"
    "footer footer footer footer footer footer";
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
}

#header{
    grid-area: header;
}
#sidebar{
    grid-area: sidebar;
}
#main{
    grid-area: main;
}
#content1{
    grid-area: content1;
}
#content2{
    grid-area: content2;
}
#content3{
    grid-area: content3;
}
#footer{
    grid-area: footer;
}