.grid-container {

    grid-template-columns: 100px 100px 100px 100px;
    /* grid-template-columns: repeat(4,300px); */
    /* grid-template-columns: 1fr repeat(2,100px) 1fr; */
    /* grid-template-columns: repeat(3,minmax(100px,1fr))100px; */
    grid-template-rows:repeat(2,100px);
    /* grid-template: repeat(2,100px) / repeat(4,100px); */
    justify-content:center;
    align-content:space-between;
    height: 700px;
    /* grid-template-rows: 200px 300px 400px 500px 600px; */
}

.item {
    
}